html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    text-align: center;
}

h1{
    font-size: 4rem;
}


button a{
    font-size: 1.5em;
}

h2{
    font-size: 3rem;
}

button{
    font-size: 1.5rem;
}

p{
    font-size: 1.5rem;
}

.nav__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

li{
    list-style-type: none;
    margin: 1em;
}

button {
    cursor: pointer;
}

.nav__list--item--btn{
    border-radius: 20rem;
}

.nav__list--item :hover{
    background-color: black;
    color: white;
    border: none;
/*     transform: scale(1.5);
    transition: 1s; */
}

.answer{
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: space-between;
    border: solid;
    margin: auto;
    margin-bottom: 2rem;
    width: 50%;
    
}

.HTML{
    background-color: #e8971c;
}

.hide{
    display: none;
}